<#import "parts/common.ftl" as c>

<@c.page>


<div class="container">
    <div class="row">

    <!--
    <div class="col-lg-3 col-md-4 col-sm-6">
        <p><a href="/games/metro"><img src="images/metro.jpg" width=100% height=100% /></a></p>
    </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
        <p><a href="/games/ds"><img src="images/ds3.jpg" width=100% height=100% /></a></p>
    </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
        <p><a href="/games/fallout4"><img src="images/fallout4.png" width=100% height=100% /></a></p>
    </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
        <p><a href="/games/fcND"><img src="images/fcNewDawn.jpg" width=100% height=100% /></a></p>
    </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
        <p><a href="/games/gta5"><img src="images/gta5.png" width=100% height=100% /></a></p>
    </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
        <p><a href="/games/kcd"><img src="images/kcd.jpg" width=100% height=100% /></a></p>
    </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
        <p><a href="/games/mkx"><img src="images/mkx.png" width=100% height=100% /></a></p>
    </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
        <p><a href="/games/re2"><img src="images/re2.jpg" width=100% height=100% /></a></p>
    </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
        <p><a href="/games/skyrim"><img src="images/skyrim.png" width=100% height=100% /></a></p>
    </div>
    -->
    </div>
</div>

</@c.page>